<!DOCTYPE html>
<html>
    <head>
		<title><%= title %></title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
		<link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="/css/common.css">
	</head>
	<body>
		<h1 style="font-weight: bold;"><%= title %></h1>
		<div class="input-container">
			<input type="text" class="form-control input-todo" placeholder="New...">
			<button type="button" class="btn btn-primary btn-add">Add</button>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th style="width: 90%;">Content</th>
					<th style="width: 5%;">Done</th>
					<th style="width: 5%;">Remove</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
    </body>
	<script src="/bootstrap/bootstrap.min.js"></script>
	<script src="/js/todo.js"></script>
</html>